<!doctype html>

<title>Genome Guardian Wiki</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no">

<link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css')}}">

{% block links %}{% endblock %}

{% with colours = get_colours() %}
  <body style="background-color: {{ colours['background'] }}">

    <nav> 
      <div class="GG" style="border-color: {{ colours['navbar-left'] }};"><img src="{{ url_for('static', filename='images/gg/Logo.png' )}}"/></div>
      <div class="CC" style="border-color: {{ colours['navbar-right'] }};"><img src="{{ url_for('static', filename='images/cc/Logo.png' )}}"/></div>
    </nav>

    <div class="subtitle">{% block subtitle %}{% endblock %}</div>

    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </body>
{% endwith %}