<!doctype html>
<html lang="en">
{% block title%}{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css')}}">
<script src="{{ url_for('static', filename='js/base.js')}}"></script>

{% block links %}{% endblock %}

{% with section = get_section() %}
  {% if section == "gg" or section == "ggt" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/gg.css')}}">
  {% elif section == "cc" or section == "cct" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cc.css')}}">
  {% endif %}
{% endwith %}

{% with large, small = get_favicon() %}
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename=large)}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename=small)}}">
{% endwith %}

{% with colours = get_colours() %}
  <body id="mainpage" style="visibility: hidden; background-color: {{ colours['background'] }}">
    <div class="loading" style="animation: loading 1.8s linear forwards;">
      <div style="background-color: {{ colours['A'] }}; animation: loading1 1.8s ease infinite;"></div>
      <div style="background-color: {{ colours['C'] }}; animation: loading2 1.8s ease infinite;"></div>
      <div style="background-color: {{ colours['G'] }}; animation: loading3 1.8s ease infinite;"></div>
      <div style="background-color: {{ colours['T'] }}; animation: loading4 1.8s ease infinite;"></div>
    </div>
    <nav>
      {% with section = get_section() %}
        {% if section == "ggt" %}
          <a class="GG" aria-label="Home page." href="/"><div style="border-color: {{ colours['A'] }};"><img src="{{ url_for('static', filename='images/gg/Logo.png' )}}"/></div></a>
          <a class="CC" aria-label="Cell Command page." href="/cc"><div style="border-color: {{ colours['G'] }};"><img src="{{ url_for('static', filename='images/cc/Logo.png' )}}"/></div></a>
        {% elif section == "gg" %}
          <a class="GG" aria-label="Genome Guardian page."href="/gg"><div style="border-color: {{ colours['A'] }};"><img src="{{ url_for('static', filename='images/gg/Logo.png' )}}"/></div></a>
          <a class="CC" aria-label="Cell Command page." href="/cc"><div style="border-color: {{ colours['G'] }};"><img src="{{ url_for('static', filename='images/cc/Logo.png' )}}"/></div></a>
        {% elif section == "cct" %}
          <a class="GG" aria-label="Genome Guardian page."href="/gg"><div style="border-color: {{ colours['A'] }};"><img src="{{ url_for('static', filename='images/gg/Logo.png' )}}"/></div></a>
          <a class="CC" aria-label="Return to home page." href="/"><div style="border-color: {{ colours['G'] }};"><img src="{{ url_for('static', filename='images/cc/Logo.png' )}}"/></div></a>
        {% elif section == "cc" %}
          <a class="GG" aria-label="Genome Guardian page." href="/gg"><div style="border-color: {{ colours['A'] }};"><img src="{{ url_for('static', filename='images/gg/Logo.png' )}}"/></div></a>
          <a class="CC" aria-label="Cell Command page." href="/cc"><div style="border-color: {{ colours['G'] }};"><img src="{{ url_for('static', filename='images/cc/Logo.png' )}}"/></div></a>
        {% elif section %}
          <a class="GG" aria-label="Genome Guardian page."href="/gg"><div style="border-color: {{ colours['A'] }};"><img src="{{ url_for('static', filename='images/gg/Logo.png' )}}"/></div></a>
          <a class="CC" aria-label="Cell Command page." href="/cc"><div style="border-color: {{ colours['G'] }};"><img src="{{ url_for('static', filename='images/cc/Logo.png' )}}"/></div></a>
        {% endif %}
      {% endwith %}
    </nav>

    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </body>
{% endwith %}
</html>