<!doctype html>

{% block title%}{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no">

<link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css')}}">
<script src="{{ url_for('static', filename='js/base.js')}}"></script>

{% block links %}{% endblock %}

{% with section = get_section() %}
  {% if section == "gg" or section == "ggt" %}
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/gg-32x32">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/gg-16x16">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/gg.css')}}">
  {% elif section == "cc" or section == "cct" %}
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/cc-32x32">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/cc-16x16">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cc.css')}}">
  {% else %}
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/base-32x32">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/base-16x16">
  {% endif %}
{% endwith %}

{% with colours = get_colours() %}
  <body id="mainpage" style="visibility: hidden; background-color: {{ colours['background'] }}">
    <div class="loading" style="animation: loading 1.8s linear forwards;">
      <div style="background-color: {{ colours['A'] }}; animation: loading1 1.8s ease infinite;"></div>
      <div style="background-color: {{ colours['C'] }}; animation: loading2 1.8s ease infinite;"></div>
      <div style="background-color: {{ colours['G'] }}; animation: loading3 1.8s ease infinite;"></div>
      <div style="background-color: {{ colours['T'] }}; animation: loading4 1.8s ease infinite;"></div>
    </div>
    <nav>
      {% with section = get_section() %}
        {% if section == "ggt" %}
          <a class="GG" href="/"><div style="border-color: {{ colours['A'] }};"><img src="{{ url_for('static', filename='images/gg/Logo.png' )}}"/></div></a>
          <a class="CC" href="/cc"><div style="border-color: {{ colours['G'] }};"><img src="{{ url_for('static', filename='images/cc/Logo.png' )}}"/></div></a>
        {% elif section == "gg" %}
          <a class="GG" href="/gg"><div style="border-color: {{ colours['A'] }};"><img src="{{ url_for('static', filename='images/gg/Logo.png' )}}"/></div></a>
          <a class="CC" href="/cc"><div style="border-color: {{ colours['G'] }};"><img src="{{ url_for('static', filename='images/cc/Logo.png' )}}"/></div></a>
        {% elif section == "cct" %}
          <a class="GG" href="/gg"><div style="border-color: {{ colours['A'] }};"><img src="{{ url_for('static', filename='images/gg/Logo.png' )}}"/></div></a>
          <a class="CC" href="/"><div style="border-color: {{ colours['G'] }};"><img src="{{ url_for('static', filename='images/cc/Logo.png' )}}"/></div></a>
        {% elif section == "cc" %}
          <a class="GG" href="/gg"><div style="border-color: {{ colours['A'] }};"><img src="{{ url_for('static', filename='images/gg/Logo.png' )}}"/></div></a>
          <a class="CC" href="/cc"><div style="border-color: {{ colours['G'] }};"><img src="{{ url_for('static', filename='images/cc/Logo.png' )}}"/></div></a>
        {% elif section %}
          <a class="GG" href="/gg"><div style="border-color: {{ colours['A'] }};"><img src="{{ url_for('static', filename='images/gg/Logo.png' )}}"/></div></a>
          <a class="CC" href="/cc"><div style="border-color: {{ colours['G'] }};"><img src="{{ url_for('static', filename='images/cc/Logo.png' )}}"/></div></a>
        {% endif %}
      {% endwith %}
    </nav>

    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </body>
{% endwith %}