{% extends 'base.html' %}

{% block title %}<title>The Genome Guardian Wiki</title>{% endblock %}

{% block links %}
    {% with item, category, game = get_page_info() %}
        {% if category == "turrets" %}
            <meta name="description" content="Information for the {{ item.name }} turret in Genome Guardian.">
        {% elif category == "perks" %}
            <meta name="description" content="Information for the {{ item.name }} perk in Genome Guardian.">
        {% else %}
            <meta name="description" content="Home page for the Genome Guardian wiki. Turrets, perks, weapons, microbes, and modes.">
        {% endif %}
    {% endwith %}

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css')}}">
    {% block links1 %}{% endblock %}
{% endblock %}

{% macro wikipage() %}
    {% block page %}{% endblock %}
{% endmacro %}

{% block content %}
    <h1 class="title">Genome Guardian Pages</h1>
    {% with colours = get_colours() %}
        {% with item, category, game = get_page_info() %}
            <div class="pages">
                {% if category == "turrets" %}
                    {{ wikipage() }}
                {% else %}
                    <a class="page" href="/gg/turrets/Guardian">
                        <div class="page2" style="border-color: {{ colours['A'] }}">
                            <div><img alt="" src="{{ url_for('static', filename='images/gg/turrets/Guardian.png' )}}" style="animation: turret 60s linear infinite;"/></div>
                            <h1 class="pagetitle" style="border-color: {{ colours['A'] }}">Turrets</h1>
                        </div>
                    </a>
                {% endif %}
                {% if category == "perks" %}
                    {{ wikipage() }}
                {% else %}
                <a class="page" href="/gg/perks/Pacemaker">
                    <div class="page2" style="border-color: {{ colours['C'] }};">
                        <div><img alt="" src="{{ url_for('static', filename='images/gg/perks/Rime.png' )}}" style="animation: perk 10s ease-in-out infinite;"/></div>
                        <h1 class="pagetitle" style="border-color: {{ colours['C'] }}">Perks</h1>
                    </div>
                </a>
                {% endif %}
                <a class="WIP page">
                    <div class="page2" style="border-color: {{ colours['G'] }}">
                        <div style="grid-template-columns: 1fr;">
                            <img alt="" src="{{ url_for('static', filename='images/gg/weapons/CGTT.png' )}}"/>
                            <img alt="" src="{{ url_for('static', filename='images/gg/weapons/CGTT.png' )}}" style="animation: weapon 10s linear infinite;"/>
                        </div>
                        <h1 class="pagetitle" style="border-color: {{ colours['G'] }}">Weapons</h1>
                    </div>
                </a>
                <a class="WIP page">
                    <div class="page2" style="border-color: {{ colours['T'] }}">
                        <div><img alt="" src="{{ url_for('static', filename='images/gg/microbes/GGGT.png' )}}"/></div>
                        <h1 class="pagetitle" style="border-color: {{ colours['T'] }}">Microbes</h1>
                    </div>
                </a>
                <a class="WIP page">
                    <div class="page2" style="border-color: {{ colours['Abyss'] }}">
                        <div><img alt="" src="{{ url_for('static', filename='images/gg/modes/Extract.png' )}}"/></div>
                        <h1 class="pagetitle" style="border-color: {{ colours['Abyss'] }}">Modes</h1>
                    </div>
                </a>
            </div>
        {% endwith %}
    {% endwith %}
{% endblock %}