{% extends 'ggpages.html' %}

{% block main %}
    {% with colours = get_colours() %}
        {% with item, category, game = get_page_info() %}
            <div class="overview" style="border-color: {{ colours['C'] }}">
                <h1>{{ item.name }}</h1> 
                <div class="item" style="border-color: {{ colours['G'] }}">
        {% endwith %}
    {% endwith %}
{% endblock %}

{% block grid %}
    <style>
        .overview .item .itemicon img {
            width: 65%;
        }

        .overview .item .hamburger {
            position: absolute;
        
            border: none;
            background: none;
        }
        
        .overview .item .hamburger img {
            width: calc(15vw * var(--screen-width));
        }
        
        .overview .item .itemlist {
            position: absolute;
        }
        
        .overview .item .itemlist a {
            display: inline-block;
        
            width: calc(7.65vw * var(--screen-width));
            margin: calc(0.1vw * var(--screen-width));
        }
        
        .overview .item .itemlist a img {
            width: 100%;
            height: 100%;
        
            object-fit: scale-down;
        }
    </style>
    {% set ns = namespace(counter=0) %}
    {% for gridperk in get_perks() %}
        {% if ns.counter == 90 %}
            <br/>
        {% endif %}
        {% if ns.counter == 0 or ns.counter == 9 or ns.counter == 90 %}
            <a>a</a>
            {% set ns.counter = ns.counter + 1 %}
        {% endif %}
        {% if ns.counter % 10 == 0 %}
            <br/>
        {% endif %}
        <a aria-labelledby="Perk {{ gridperk.name }}" href="{{ gridperk.name }}"><img id="Perk {{ gridperk.name }}" aria-label="{{ gridperk.name }}" src="{{ url_for('static', filename='images/gg/perks/32x32/' + gridperk.name + '.png' )}}"/></a>
        {% set ns.counter = ns.counter + 1 %}
    {% endfor %}
{% endblock %}