{% extends 'ggpages.html' %}

{% block main %}
    {% with colours = get_colours() %}
        {% with item, category, game = get_page_info() %}
            <div class="overview" style="border-color: {{ colours['A'] }}">
                <h1>{{ item.name }}</h1> 
                <div class="item" style="border-color: {{ colours['C'] }}">
        {% endwith %}
    {% endwith %}
{% endblock %}

{% block grid %}
    <style>
        .overview .item .itemicon img {
            width: 80%;

            animation: turret 60s linear infinite;
        }
        
        .overview .item .hamburger {
            position: absolute;
        
            border: none;
            background: none;
        }
        
        .overview .item .hamburger img {
            width: calc(15vw * var(--screen-width));
        }
        
        .overview .item .itemlist {
            position: absolute;
        }
        
        .overview .item .itemlist img {
            width: calc(11vw * var(--screen-width));
            margin: calc(0.1vw * var(--screen-width));
        }
    </style>

    {% for gridturret in get_turrets() %}
        <a aria-labelledby="Turret {{ gridturret.name }}" href="{{ gridturret.name }}"><img id="Turret {{ gridturret.name }}" aria-label="{{ gridturret.name }}" src="{{ url_for('static', filename='images/gg/turrets/32x32/' + gridturret.name + '.png' )}}"/></a>
        {% if loop.index % 7 == 0 %}
            <br/>
        {% endif %}
    {% endfor %}
{% endblock %}