@font-face {
    font-family: 'Fredoka';
    src: url("../fonts/Fredoka-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fredoka';
    src: url("../fonts/Fredoka-Medium.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    font-size: 0;
    font-family: "Fredoka", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
}

nav {
    display: flex;
}

.GG,
.CC {
    width: 50%;
    height: fit-content;
    max-height: 10vh;

    display: flex;
    justify-content: center;

    border: 0.5vh solid;
}

.GG img,
.CC img {
    object-fit: scale-down;

    width: 100%;
    height: auto;
    padding: 1vh;
}



@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (max-width: 767px) and (orientation: landscape) {}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {}

@media (max-width: 767px) and (orientation: portrait) {

    .GG,
    .CC {
        height: 30dvh;
    }
}