h1.title {
    width: 100%;

    border-bottom: 0.65vh white solid;

    font-size: 8vh;
    text-align: center;
}

.pages {
    display: flex;
    justify-content: space-between;
}

.page {
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

:root {
    --screen-width: 0.15;
}

@media (max-width: 767px) and (orientation: portrait) {
    :root {
        --screen-width: 0.7;
    }

    h1.title {
        margin-top: calc(6vw * var(--screen-width));
        font-size: 4vh;
    }

    .pages {
        display: block;
        text-align: center;
    }

    .page {
        display: block;
        margin: auto;
    }
}

.pages a {
    margin-top: calc(10vw * var(--screen-width));
}

.pages .page .page2 {
    width: fit-content;
    height: fit-content;

    border: calc(2vw * var(--screen-width)) solid;
    border-radius: calc(20vw * var(--screen-width));
}

.pages .page .page2 div {
    display: grid;
    justify-content: center;
    align-items: center;

    width: calc(90vw * var(--screen-width));
    height: calc(90vw * var(--screen-width));

    padding: calc(10vw * var(--screen-width));
}

.pages .page .page2 div img {
    grid-row-start: 1;
    grid-column-start: 1;

    width: 100%;
    height: 100%;

    object-fit: scale-down;
}

h1.pagetitle {
    width: 100%;

    padding-top: calc(4vw * var(--screen-width));

    border-top: calc(2vw * var(--screen-width)) solid;

    font-size: calc(15vw * var(--screen-width));
    text-align: center;
}

a.WIP {
    filter: grayscale(100%);
}